* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;   
}
 
body {
    justify-content: center;
    align-items: center;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:200px 3000px 720px 100px;
    grid-template-areas: 
    "he he he he he"
    "ma ma ma ma ma"
    "fo fo fo fo fo"
    "na na na na na";
}



header{
    grid-area: he;
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: left;
    align-items: center;
}


nav {
    grid-area: na;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 25%, rgba(255,255,255,1) 25%);
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom:0;
    box-shadow: 0 -2px 5px -2px #333;
    height: 100px;
    width: 100%;  
    justify-content: space-around; 
    align-items: center;
    flex-direction: row;
}

main {
    grid-area: ma;
    background-color: white;
    display: flex;
}

footer {
    grid-area: fo;
    background-color: palegreen;
    display: flex;
}

section {
    justify-content: center;
    align-items: center;
}

#weather {
    height: 70px;
    width: auto;
}

#info {
    height: 70px;
    width: auto;
}

#key_chain {
    height: 70px;
    width: auto;
}

#ski {
    height: 70px;
    width: auto;
}

#logga {
    height: 200px;
    width: auto;
}
