* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;  
}

 @media screen and (max-width: 1000px){

    #grid_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:150px 1080px 300px 100px;
        grid-template-areas: 
        "he"
        "ma"
        "fo"
        "na";
    }

    header{
        grid-area: he;
        display: flex;
        color: white;
        align-items: center;
        justify-content: left;
    }

    #text_header{
        display: none;
    }

    #text_header2{
        position: absolute;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        top: 100px;
        right: 220px;
        text-transform: uppercase;
        font-size: 30px;
    }

    #språk{
        position: absolute;
        height: 60px;
        width: auto;
        z-index: +1;
        top: 80px;
        right: 140px;
    }

    #sök{
        position: absolute;
        height: 60px;
        width: auto;
        top: 80px;
        right: 50px;
        z-index: +1;
    }


    nav {
        grid-area: na;
        background: rgb(255,0,0);
        background: linear-gradient(90deg, rgba(255,0,0,1) 25%, rgba(255,255,255,1) 25%);
        display: flex;
        overflow: hidden;
        position: fixed;
        bottom:0;
        box-shadow: 0 -2px 5px -2px #333;
        height: 100px;
        width: 100%;  
        justify-content: space-around; 
        align-items: center;
        flex-direction: row;
        z-index: 10;
    }

    main {
        grid-area: ma;
        display: grid;
        grid-template-areas: 
        "bo"
        "co";
        grid-template-rows: 10px 1fr;
        grid-template-columns: 1fr;
        overflow: hidden;
        justify-content: center;
        align-items: center; 
    }

    #main_start {
        background-image: url("../img/ski_bak.jpg");
        background-size: cover;
        background-position: -900px;
        grid-template-areas: 
        "bo"
        "c2";
        grid-template-rows: 10px 1fr;
        grid-template-columns: 1fr;
    }

    #container2{
        grid-area: c2;
        padding-bottom: 400px;
    }

    .mitten{
        padding-left: 770px;
    }

    #text_container2{
        rotate: -90deg;
        position: absolute;
        font-size: small;
        top: 900px;
        right: -90px;
        color: black;  
    }

    
    #clockSection {
        position: absolute;
        top: 200px;
      }
      
      #clock {
        font-size: 48px;
        text-align: center;
        padding: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

    #nyheter{
        position: relative;
        top: 700px;
        left: 0px;
        font-size: 20px;
        border-style: solid;
        border-color: transparent;
        border-top-color: black;
        text-align: center;
        background-color: rgb(255, 255, 255, 0.5);
    }

    #nyheter_strong{
        font-size: 50px;
        text-decoration: underline;
        font-family: Helvetica, sans-serif;
    }

    #youtube{
       grid-area: yu;
    }

    #youtube_text{
        background-color: red;
        border-radius: 10px;
        color: white;
        padding: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-underline-offset: 5px;
    }
    footer {
        display: flex;
        grid-area: fo;
        background-color: rgb(139, 139, 139);
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #weather {
        height: 70px;
        width: auto;
    }

    #info {
        height: 70px;
        width: auto;
    }

    #key_chain {
        height: 70px;
        width: auto;
    }

    #ski {
        height: 70px;
        width: auto;
    }

    #logga {
        height: 150px;
        width: auto;
    }

    #border { 
        grid-area: bo;
        position: relative;
    }

    #container {
        display: flex;
        grid-area: co;
        align-items: center;
        justify-content: center;
    }

    #h1_start {
        font-size: 40px;
        font-style: italic;
        opacity: 0.7;
    }

    #h2_footer {
        font-size: 24px;
        color: white; 
    }

    #p_footer {
        padding-left: 13%;
        font-weight: lighter;
        text-decoration: none;
        font-size: 20px;
        color: white;
    }

    #main_key {
        background-image: url("../img/mountain.jpg");
        background-position: 1240px, center;
    }

    #container_key {
        display: grid;
        grid-template-areas:
        "li" 
        "vi"
        "ho"
        "ca";
        grid-template-columns: 270px;
        grid-template-rows: 50px 270px 270px 270px;
        padding-top: 80px;
    }

    #availabilitySection {
        position: relative;
        text-align: center;
        bottom: 30px;
        left: 790px;
        padding: 5px;
        border-style: solid;
        background-color: white;
        border-radius: 5px;
        width: 340px;
        height: 40px;
    }
      
      #availability {
        font-size: 20px;
        font-weight: bold;
      }

    #village {
        grid-area: vi;
        background-image: url("../img/village.jpg"); 
    }

    #cabin {
        grid-area: ca;
        background-image: url("../img/cabin.jpg");
        background-position: -40px;
    }

    #hotell {
        grid-area: ho;
        background-image: url("../img/hotell.jpg");
        background-position: -47px;
    }

    .bild_key {
        background-size: cover;
        margin: 10px;
        border-radius: 30px;
        box-shadow: 5px 5px 9px -2px #333;
    }

    .h2_boende { 
        background-color: white;
        font-size: x-large;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
    }

    .boende_text{
        display: none;
    }

    #headline{
        grid-area: li;
        padding-left: 8px; 
    }

    #main_weather{
        background-image: url("../img/karsten-winegeart-L7289nHzVgI-unsplash.jpg");
        background-position: -885px, center;
    }

    #container_weather{
        display: grid;
        grid-template-areas: 
        "su sn"
        "t1 t2"
        "if nu"
        "sl op";
        grid-template-columns: 150px 150px;
        grid-template-rows: 100px 50px 150px 110px;
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 20px;
        box-shadow:5px 5px 9px -2px #333 ;
    }

    #levelSection {
        position: relative;
        text-align: center;
        padding: 20px;
        background-color: #f0f0f0;
        border-style: solid;
        height: 70px;
        width: 130px;
        left: 890px;
        bottom: 85px;
      }
      
      #level {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
      }

      #lavin{
        position: relative;
        bottom: 200px;
        left: 0px;
        text-align: center;
      }

      #lavin_strong{
        font-family: helvetica ;
        text-transform: uppercase;
      }

    #su{
        grid-area: su;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-top: 10px;
    }

    #sn{
        grid-area: sn;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-top: 10px;
    }

    #t1{
        grid-area: t1;
        padding-left: 50px;
        padding-top: 20px;
    }

    #t2{
        grid-area: t2;
        padding-left: 30px;
        padding-top: 20px;

    }

    #lift{
        grid-area: if;
    }

    #slopes{
        grid-area: sl;
    }


    #lift_bild{
        height: 150px;
        width: auto;
        padding-top: 30px;
        padding-left: 25px;
    }

    #slopes_bild{
        height: 110px;
        width: auto;
        padding-left: 25px;
    }   

    #nu{ 
        grid-area: nu;
        padding-left: 35px;
        padding-top: 50px;
    }

    #op{ 
        grid-area: op;
        padding-left: 35px;
        padding-top: 30px;
    }

    .text_weather{
        font-family: georgia;
    }



    .weather_icon{
        width: 100px;
        height: auto;
    }

    #lift_bild{
        height: 110px;
        width: auto;
        padding-top: 30px;
    }

    #slopes_bild{
        height: 110px;
        width: auto;
        padding-top: 30px;
    }

    #main_ski{
        background-image: url("../img/hendrik-morkel-BLKZfjRaa6Y-unsplash.jpg");
        background-position: -600px ;
        background-size: 1550px 1200px;
    }

    #container_ski{
        display: grid;
        grid-template-areas: 
        "ti"
        "ap";
        grid-template-columns: 350px;
        grid-template-rows: 40px 350px;
        background-color: white;
        border-radius: 5px;
        border: 2px solid black;
    }

    #viktig_info{
        position: absolute;
        height: 125px;
        width: 350px;
        background-color: rgb(255, 255, 255, 0.7);
        margin-left: 20px;
        margin-top: 955px;
        border-style: solid;
        border-bottom-color: transparent;
    }

    #info_text{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #map2{
        grid-area: ap;  
    }

    #map{
        display: none;
    }

    #title_ski{
        grid-area: ti;
        border-bottom: 2px solid black;
    }


    #ski_h1{
        font-family: times;
        font-size: 40px;
        text-align: center;
    }

    #link_list {
        display: none;
    }

    #burger{
        display: none;
    }
}
    
body::-webkit-scrollbar{
    display: none;
}


@media screen and (min-width: 1000px){

    #grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 150px;
        grid-template-rows:150px 1080px 300px;
        grid-template-areas: 
        "he he he he na"
        "ma ma ma ma ma"
        "fo fo fo fo fo";
    }

    header{
        grid-area: he;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
    }

    #text_header{
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 40px;
        height: 150px;
        position: relative;
        top: 5px;
        z-index: +10;   
    }



    #text_header2{
        display: none;
    }

    #språk {
        height: 50px;
        width: auto;
        cursor: pointer;
    }

    #sök{
        height: 50px;
        width: auto;
        cursor: pointer;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        grid-area: na;
    }

    #link_list {
        background-color: rgb(0, 0, 0, 0.7) ;
        height: 400px;
        width: 200px;
        position: absolute;
        top: -400px;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        transition: all 0.5s;
        z-index: +2;
        }

        #link_list a {
            text-decoration: none;  
            letter-spacing: 0.187rem;
            color: white;
            font-weight: bold;
            font-family: lucida;
            font-size: 1.25rem;
            text-transform: uppercase;
        }
        

        #burger div {
            width: 50px;
            height: 6px;
            background-color: black;
            margin: 10px;
            border-radius: 20px;
        }

        #burger {
            margin-right: 50px;
            cursor: pointer;
        }
        
        .link_list_visible {
            transform: translateY(550px);
        }
        
        .cross #burger_line_2 {
            opacity: 0;
        }
        
        .cross #burger_line_1 {
            transform: rotate(-45deg) translate(-16px, 6px);
        }
        
        .cross #burger_line_3 {
            transform: rotate(45deg) translate(-16px, -6px);
        } 

    main {
        grid-area: ma;
        display: grid;
        grid-template-areas: 
        "bo"
        "co";
        grid-template-rows: 10px 1fr;
        grid-template-columns: 1fr;
        overflow: hidden;
        justify-content: center;
        align-items: center; 
    }

   

    footer {
        display: flex;
        grid-area: fo;
        background-color: rgb(139, 139, 139);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #weather {
       display: none;
    }

    #info {
        display: none;
    }

    #key_chain {
        display: none;
    }

    #ski {
        display: none;
    }

    #main_start {
        background-image: url("../img/ski_bak.jpg");
        background-position: center;
        grid-template-areas: 
        "bo"
        "c2";
        grid-template-rows: 10px 1fr;
        grid-template-columns: 1fr;
    }

    #container2{
        grid-area: c2;
        padding-left: 0px;
    }

    #text_container2{
        position: absolute;
        top: 1200px;
        right: 20px;
        font-size: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #nyheter{
        position: absolute;
        top: 1008px;
        left: 0;
        background-color: rgb(255, 255, 255, 0.5);
        border-top-right-radius: 10px;
        border-style: solid;
        border-left-color: transparent;  
        border-bottom-color: transparent; 
        font-family: Georgia, 'Times New Roman', Times, serif;  
    }

    .mitten{
        padding-left: 490px;
    }

    #clockSection {
        position: absolute;
        margin-left: 0px;
        margin-bottom: 800px;
      }
      
      #clock {
        font-size: 48px;
        text-align: center;
        padding: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

    #youtube{
       grid-area: yu;
    }

    #youtube_text{
        background-color: red;
        border-radius: 10px;
        color: white;
        padding: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        text-underline-offset: 5px;
    }

    #logga {
        height: 150px;
        width: auto;
    }

    #border { 
        grid-area: bo;
        position: relative;
    }

    #container {
        display: flex;
        grid-area: co;
        align-items: center;
        justify-content: center;
    }

    #h1_start {
        grid-area: h1;
        font-size: 80px;
        font-style: italic;
        opacity: 0.7;
        padding-right: 300px;
    }

    #h2_footer {
        font-size: 40px;
        color: white; 
    }

    #p_footer {
        padding-left: 13%;
        font-weight: lighter;
        text-decoration: none;
        font-size: 30px;
        color: white;
    }

    #main_key {
        background-image: url("../img/mountain.jpg");
        background-position: center;
    }

    #container_key {
        display: grid;
        grid-template-areas:
        "li li li" 
        "vi ho ca";
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 200px 400px;
        margin-left: 48px;
        margin-bottom: 200px;
    }

    #availabilitySection {
        position: relative;
        text-align: center;
        bottom: 100px;
        width: 500px;
        left: 700px;
    }
      
      #availability {
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border-style: solid;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #village {
        grid-area: vi;
        background-image: url("../img/village.jpg"); 
        color: transparent;
        transition: 1000ms;
        
    }

    #village:hover{
        color: black;
        cursor: pointer;
    }


    #cabin {
        grid-area: ca;
        background-image: url("../img/cabin.jpg");
        background-position: -40px;
        color: transparent;
        transition: 1000ms;
    }

    #cabin:hover{
        color: black;
        cursor: pointer;
    }

    #hotell {
        grid-area: ho;
        background-image: url("../img/hotell.jpg");
        background-position: -70px;
        color: transparent;
        transition: 1000ms;
    }

    #hotell:hover{
        color: black;
        cursor: pointer;
    }

    .boende_text{
        position: relative;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 275px; 
        font-weight: 800;
    }

    .bild_key {
        background-size: cover;
        margin: 10px;
        border-radius: 30px;
        box-shadow: 5px 5px 9px -2px #333;
        width: 80%;
        height: 80%;
        position: relative;
    }

    .h2_boende { 
        background-color: white;
        font-size: x-large;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        color: black;
    }

    #headline{
        grid-area: li;
        text-align: center;
    }

    #h1_boende{
        font-size: 100px;
    }

    #main_weather{
        background-image: url("../img/karsten-winegeart-L7289nHzVgI-unsplash.jpg");
        background-position: center;
    }

    #container_weather{
        display: grid;
        grid-template-areas: 
        "su sn"
        "t1 t2"
        "if nu"
        "sl op";
        grid-template-columns: 335px 335px;
        grid-template-rows: 300px 100px 200px 200px;
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 20px;
        border-style: solid;
        position: absolute;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        left: -2px;
        top: 350px;
        border-left-color: transparent;
    }

    #levelSection {
        position: absolute;
        height: 100px;
        width: 60px;
        text-align: center;
        padding: 20px;
        right: 220px;
        z-index: +2;
      }
      
      #level {
        font-size: 70px;
        font-weight: bold;
        text-transform: uppercase;
      }

      #lavin{
        position: absolute;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 300px;
        right: 0px;
        text-decoration: underline;
        border-style: solid;
        border-right-color: transparent;
      }

    #su{
        grid-area: su;
        justify-content: center;
        align-items: center;
    }

    #sn{
        grid-area: sn;
        justify-content: center;
        align-items: center;
    }

    #temp{
        display: none;
    }

    #t1{
        grid-area: t1;
        padding-left: 90px;
        padding-top: 20px;
    }

    #t2{
        grid-area: t2;
        padding-left: 120px;
        padding-top: 20px;

    }

    #lift{
        grid-area: if;
    }

    #slopes{
        grid-area: sl;
    }

    .weather_icon{
        width: 300px;
        height: auto;
    }

    #lift_bild{
        height: 150px;
        width: auto;
        padding-top: 30px;
        padding-left: 50px;
    }

    #slopes_bild{
        height: 110px;
        width: auto;
        padding-top: 30px;
        padding-left: 50px;
    }   

    #nu{ 
        grid-area: nu;
        padding-left: 120px;
        padding-top: 50px;
    }

    #op{ 
        grid-area: op;
        padding-left: 120px;
        padding-top: 50px;
    }

    .text_weather{
        font-family: georgia;
    }

    #main_ski{
        background-image: url("../img/hendrik-morkel-BLKZfjRaa6Y-unsplash.jpg");
        background-position: center;
    }

    #container_ski{
        display: grid;
        grid-template-areas: 
        "ti"
        "ap";
        grid-template-columns: 700px;
        grid-template-rows: 100px 600px;
        background-color: white;
        border-radius: 5px;
        border: 2px solid black;
        z-index: +10;
        position: relative;
        right: 150px;
    }

    #instruktör{
        position: absolute;
        display: grid;
        grid-template-areas: 
        "in"
        "nn";
        grid-template-columns: 270px;
        grid-template-rows: 40px 270px;
        right: 0px;
        border-style: solid;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor: pointer;
    }

    #instruktör_titel{
        grid-area: in;
        background-color: white;
    }

    #text_instruktör{
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #mannen{
        grid-area: nn;
        background-image: url("../img/karsten-winegeart-cZVE4GpzQLM-unsplash.jpg");
        height: 270px;
        width: auto;
        background-size: cover;
        background-position-x: -50px;
    }

    #viktig_info{
        position: absolute;
        height: 125px;
        width: 400px;
        background-color: rgb(255, 255, 255, 0.7);
        margin-left: 20px;
        margin-top: 955px;
        border-style: solid;
        border-bottom-color: transparent;
        padding-left: 10px;
    }

    #info_text{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #map{
       grid-area: ap;
    }

    #map2{
        display: none;
    }

    #title_ski{
        grid-area: ti;
        border-bottom: 2px solid black;
    }

    #ski_h1{
        text-align: center;
        padding-top: 20px;
        font-size: 70px;
        font-family: times;
    }

}




