* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;   
}
 
body {
    justify-content: center;
    align-items: center;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:150px 1080px 300px 100px;
    grid-template-areas: 
    "he he he he he"
    "ma ma ma ma ma"
    "fo fo fo fo fo"
    "na na na na na";
}

header{
    grid-area: he;
    display: flex;
    color: white;
    align-items: center;
    justify-content: left;
}


nav {
    grid-area: na;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 25%, rgba(255,255,255,1) 25%);
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom:0;
    box-shadow: 0 -2px 5px -2px #333;
    height: 100px;
    width: 100%;  
    justify-content: space-around; 
    align-items: center;
    flex-direction: row;
}

main {
    grid-area: ma;
    display: grid;
    grid-template-areas: 
    "bo"
    "co";
    grid-template-rows: 10px 1fr;
    grid-template-columns: 1fr;
    z-index: -20;
    overflow: hidden;
    justify-content: center;
    align-items: center; 
}

#main_start {
    background-image: url("../img/ski_bak.jpg");
    background-position: 750px, center;
}

footer {
    display: flex;
    grid-area: fo;
    background-color: rgb(139, 139, 139);
    display: flex;
}

section {
    justify-content: center;
    align-items: center;
}

#weather {
    height: 70px;
    width: auto;
}

#info {
    height: 70px;
    width: auto;
}

#key_chain {
    height: 70px;
    width: auto;
}

#ski {
    height: 70px;
    width: auto;
}

#logga {
    height: 150px;
    width: auto;
}

#border { 
    grid-area: bo;
    position: relative;
}

#container {
    display: flex;
    grid-area: co;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-style: italic;
    opacity: 0.7;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 24px;
    color: white; 
}

p {
    padding-left: 13%;
    font-weight: lighter;
    text-decoration: none;
    font-size: 20px;
}

#main_key {
    background-image: url("../img/mountain.jpg");
    background-position: 1240px, center;
}

#container_key {
    display: grid;
    grid-template-areas: 
    "vi"
    "ho"
    "ca";
    grid-template-columns: 1fr;
    grid-template-rows: 1vh 1vh 1vh;
}

#village {
    grid-area: vi;
    /* background-image: url("../img/village.jpg"); */
    background-color: red;
    
}

#cabin {
    grid-area: ca;
    /* background-image: url("../img/cabin.jpg"); */
    background-color: orange;
}

#hotell {
    grid-area: ho;
    /* background-image: url("../img/hotell.jpg"); */
    background-color: pink;
}

.bilder_key {
    background-size: cover;
}